<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            $("#mybtn2").one('click', function() {
                // $("#mybtn").on('click', function() {
                // alert("function fired");
                // var action = $('#topic').val() == "hi" ? "hi" : "test";
                // $("#myform").attr("action", "/topics/" + action+ "/courses");

                var list = $('#list');

                $.ajax({
                    type: "GET",
                    url: "/topics/job",
                    // data: Course,
                    dataType: "json",
                    contentType: "application/json",
                    success: function (data) {


                        $.each(data, function (i,d) {
                            list.append('<li>id: ' + d.id + ' name '+ d.name +' ' + d.description + '</li>');

                        })

                    },

                    error: function (){

                        alert("wasn't succesful");

                    }
                });

            });

        });

        function ajaxcall() {

            var temp = $('#topic').val();
            temp = "/topics/" + temp;
            $.ajax({
                type: "GET",
                //url: "/topics/2",
                url: temp,
                // data: Course,
                dataType: "json",
                contentType: "application/json",
                success: function (data) {

                    var str = data.id + " " + data.name+" " +data.description;

                    $("#mydiv").text(str);


                },

                error: function (){

                    alert("wasn't succesful");

                }
            });

            // var $course_id = $("#course_id");
            // var $course_name = $("#course_name");
            // var $course_description = $("#course_description");
            //
            // var Course = {
            //      "id":$course_id.val(),
            //      "name": $course_name.val(),
            //     "description": $course_description.val()
            //
            // }


            // alert("Sending Json"+ Course.id +" "+ Course.name);
            ;




        }
    </script>
</head>
<body>
<h1>Please input a topic to search</h1><br>
<!--<form  id="myform" method='POST' action="/topics/hi/courses" th:action="@{/topics/hi/courses}">-->
<div style="display: inline-block">
    Topic: <input id="topic" name="topic_id"  type="text">
    <input type="button" id="mybtn"  onclick="ajaxcall()" value="search for a record"/>
    <input type="button" id="mybtn2"  value="Show all topics"/>
    <h4>Returned: <span id="mydiv"></span> </h4>
    <!--<div id="mydiv"></div>-->
</div>

<!--Topic: <input id="topic" name="topic_id"  type="text">-->
<!--<input type="button" id="mybtn" onclick="submitform()"value="ajax call"/>-->
<br>
<br>
 <span id="mydiv2"></span>
<ul id="list">

</ul>
</body>
</body>
</html>