<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            $("#myformbtn").on('click', function() {
           // $("#mybtn").on('click', function() {
               // alert("function fired");
                var action = $('#topic').val();
                $("#myform").attr("action", "/topics/" + action+ "/courses");
            });

        });


    </script>
</head>
<body>
<h1>Please input a course</h1><br>
<!--<form  id="myform" method='POST' action="/topics/hi/courses" th:action="@{/topics/hi/courses}">-->
<form  id="myform" method='POST' action="/topics/1/courses">
    Topic: <input id="topic" name="topic_id"  type="text">
    ID: <input id="course_id" name="course_id"  type="text">
    Description: <input id="course_name" name="course_name"  type="text" >
    Name: <input id="course_description" name="course_description"  type="text">

    <!--<input type="button" value="add" onclick="submitform()">-->
    <input type="submit" id="myformbtn" value="add" >
</form>
<!--<input type="button" id="mybtn" onclick="submitform()"value="ajax call"/>-->
<br>
<br>
<div id="mydiv"></div>
<br>
<div id="mydiv2"></div>
</body>
</body>
</html>